.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* style for the table */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
thead {
  background-color: #F5F5F5;
  font-weight: bold;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tbody tr:hover {
  background-color: #F5F5F5;
}
tbody td:first-child {
  white-space: nowrap;
}
tbody td:last-child {
  text-align: right;
}
@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
  th, td {
    padding: 6px;
  }
}
/* styling the form */


.transaction-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
button[type="submit"]:hover {
  background-color: #3E8E41;
}
/* styling the edit and delete buttons */


.edit-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.delete-btn {
  background-color: #F44336; /* Red */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}